body {
  background-color: #313338;
  color: #caccce;
  font-family: Sans-Serif;
}

h1 {
  font-style: italic;
}

input,
button {
  color: white;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #1e1f22;
  word-break: break-word;
}

button {
  background-color: #5865f2;
  padding: 5%;
  margin: 2%;
  transition: background-color 170ms linear;
}

button:hover {
  background-color: #4752c4;
}

div[id^="copied_key_"] {
  display: none;
  color: #23a559;
}
